input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input,select {
  height: 34px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form-group-inline select{
  margin-right: 10px;
}
label {
  display: block;
  margin-bottom: 4px;
}
small {
  margin-top: 2px;
  color: red;
}
.radio {
  display: flex;
  align-items: center;
}
button {
  background-color: darkmagenta;
  color: #fff;
  border: none;
  padding: 6px 20px;
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
