<div class="title">
  Форма регистрации
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="userName">Имя</label>
    <input
      type="text"
      formControlName="userName"
      id="userName"
    />
    <small *ngIf="fieldHasError('userName', 'required')">
      Введите имя
    </small>
  </div>

  <div class="form-group">
    <label for="surname">Фамилия</label>
    <input
      type="text"
      formControlName="surname"
      id="surname"
    />
    <small *ngIf="fieldHasError('surname', 'required')">
      Введите фамилию
    </small>
  </div>

  <div class="form-group">
    <label for="middleName">Отчество</label>
    <input
      type="text"
      formControlName="middleName"
      id="middleName"
    />
    <small *ngIf="fieldHasError('middleName', 'required')">
      Введите отчество
    </small>
  </div>

  <div class="form-group">
    <label for="phone">Номер телефона в формате +996XXXYYYYYY</label>
    <input
      type="text"
      formControlName="phone"
      id="phone"
    />
    <small *ngIf="fieldHasError('phone', 'required')">
      Введите номер телефона
    </small>
    <small *ngIf="fieldHasError('phone', 'phone')">
      Введите номер телефона в формате без пробелов +996XXXYYYYYY
    </small>
  </div>

  <div class="form-group">
    <label for="job">Место работы</label>
    <input
      type="text"
      formControlName="job"
      id="job"
    />
    <small *ngIf="fieldHasError('job', 'required')">
      Введите место работы
    </small>
  </div>

  <div class="form-group">
    <label>Вариант футболки</label>
    <div class="radio">
      <input
        type="radio"
        formControlName="tshirt"
        value="male"
      />
      <span>мужская</span>
    </div>
    <div class="radio">
      <input
        type="radio"
        formControlName="tshirt"
        value="female"
      />
      <span>женская</span>
    </div>
    <small *ngIf="fieldHasError('tshirt', 'required')">
      Выберите вариант футболки
    </small>
  </div>

  <div class="form-group">
    <label for="size">Размер футболки</label>
    <select formControlName="size" id="size">
      <option value="">Select size</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
    </select>
    <small *ngIf="fieldHasError('size', 'required')">
      Выберите размер футболки
    </small>
  </div>

  <div class="form-group">
    <label for="comment">Комментарии</label>
    <textarea
      formControlName="comment"
      id="comment"
    ></textarea>
    <small *ngIf="fieldHasError('comment', 'required')">
      Поле обязательно для заполнения
    </small>
    <small *ngIf="fieldHasError('comment', 'maxlength')">
      Привышено максимальное кол-во символов (300)
    </small>
  </div>

  <div formArrayName="skills">
    <label>Навыки</label>
    <button class="margin-0-0-10" type="button" (click)="addSkill()">Доавить навык</button>

    <div class="form-group" *ngFor="let skillControl of getSkillsControls(); let i = index">
      <div class="form-group-inline" [formGroupName]="i">
        <select formControlName="skill">
          <option value="">Выберите навык</option>
          <option value="sleep">Спать</option>
          <option value="procrastination">Прокрастинировать</option>
          <option value="eat">Кушоть</option>
        </select>
        <select formControlName="level" id="level">
          <option value="">Выберите уровень</option>
          <option value="beginner">Новичок</option>
          <option value="middle">Мидл</option>
          <option value="senior">Сеньёр</option>
          <option value="likeGod">Божество</option>
        </select>
      </div>
      <small *ngIf="fieldHasError('skill', 'required')">
        Поле Навык обязательно для заполнения
      </small>
      <small *ngIf="fieldHasError('level', 'required')">
        Поле Уровень обязательно для заполнения
      </small>
    </div>
  </div>

  <button type="submit" [disabled]="!getFormValid()">
    Save
  </button>
</form>

