@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: azure;
}
.container {
  width: 600px;
  margin: auto;
  padding: 16px 0;
}
.title {
  font-size: 18px;
  margin: 10px 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #ccc;
}
.margin-0-0-10 {
  margin: 0 0 10px;
}
